@import '../../../globals/_all.scss';

.channel_index_section {

}

.channel_index_section__header {
  display: flex;
  width: 100%;
  font-size: 1.65rem;
  color: $slack_sidenav_lightgrey;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  overflow: initial;
}

.channel_navlink {
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;

  &:hover, :focus {

  }

  &--active {

  }

  &--group {

  }

  &--direct_message {

  }
}
