@import './_media_breakpoints.scss';

@mixin scrollable_light_bg {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1.6rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.8rem;
    background-color: #F3F3F3;
    -webkit-box-shadow: inset 0 0 0 0.4rem white;
  }

  &::-webkit-scrollbar-thumb {
    border: 0.4rem solid white;
    border-radius: 0.8rem;
    background-color: #D9D9DE;
  }
}

@mixin scrollable_dark_bg {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1.6rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.8rem;
    border: 0.4rem solid transparent;
    -webkit-box-shadow: inset 0 0 0 0.4rem transparent,
      inset 0 0 0 0.8rem rgba(255,255,255,0.4);
  }
}

@mixin overflow_ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;

  & * {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin text-shadow {
  text-shadow:
   -1px -1px 2px $slack_shadow_solid_color,
    1px -1px 2px $slack_shadow_solid_color,
    -1px 1px 2px $slack_shadow_solid_color,
     1px 1px 2px $slack_shadow_solid_color;
}

@mixin opaque-button {
  cursor: pointer;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.92rem;
  text-align: center;
  outline: none;
  border-radius: 0.4rem;
  margin: 0 0 0 1.2rem;
  padding: 1.4rem 1.8rem 1.6rem 1.8rem;
  background-color: $slack-green;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  border: none;

  &:hover, &:focus {
    box-shadow:  0 .2rem 0 $slack-green-dark;
    padding-bottom: 1.4rem;
    margin-bottom: 0.2rem;
  }

  &--wide {
    display: block;
    width: 100%;
    margin: 1.2rem 0 0 auto;
  }

  &--sm {
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 300;
    vertical-align: initial;

    &:hover, &:focus {
      padding-bottom: 0.5rem;
      margin-bottom: 0.2rem;
    }
  }

  &--blue {
    background-color: $slack_modal_item_hover;

    &:hover, &:focus {
      box-shadow: 0 .2rem 0 darken($slack_modal_item_hover, 10%);
    }
  }

}

@mixin active-button {
  box-shadow: inset 0 .2rem .3rem $slack_shadow_solid_color;
  padding-bottom: 1.6rem;
  margin-bottom: 0rem;
}
