$slack-heading-color: #2C2D30;
$slack-logo-color: #2D333A;
$slack-copy-color: #555459;
$slack-tip-color: #717274;
$slack-border-color: #717274;
$slack-hover-light: #E8E8E8;

$slack-green-dark: #1F855C;
$slack-green: #2ab27b;
