$slack_heading_color: #2C2D30;
$slack_logo_color: #2D333A;
$slack_wirebutton_dark: #404B55;
$slack_copy_color: #555459;
$slack_label_color: #555459;
$slack_wirebutton_light: #666F77;
$slack_tip_color: #717274;
$slack_border_color: #717274;
$slack_hover_light: #E8E8E8;
$slack_border_light: #E8E8E8;
$slack_bg_light: #F9F9F9;
$slack_shadow_solid_color: rgba(0,0,0,.25);

$slack_green_dark: #1F855C;
$slack_green: #2ab27b;

$form_error_red: #E8463B;

$slack_sidenav_main: #4D394B;
$slack_sidenav_hover: #3E313C;
$slack_sidenav_active: #4C9689;

$slack_sidenav_darkgrey: #B7AFB6;
$slack_sidenav_ligthgrey: #C9C3C8;
