$slack_heading_color: #2C2D30;
$slack_logo_color: #2D333A;
$slack_copy_color: #555459;
$slack_label_color: #555459;
$slack_tip_color: #717274;
$slack_border_color: #717274;
$slack_hover_light: #E8E8E8;

$slack_green_dark: #1F855C;
$slack_green: #2ab27b;
