@import '../../globals/_all.scss';

.fa-grey {
  color: $slack_sidenav_darkgrey;

  &:hover {
    color: $slack_sidenav_lightgrey;
  }
}

.fa-lightgrey {
  color: $slack_sidenav_lightgrey;
}

.fa-white {
  color: white;
}

.fa {
  vertical-align: middle;
}
