@import '../../globals/_all.scss';

.chat_sidenav_header {
  box-sizing: border-box;
  width: 100%;
  background-color: $slack_sidenav_main;
  padding: 0.9rem 1.6rem;
  cursor: pointer;

  &:hover {
    background-color: $slack_sidenav_hover;

    & * {
      color: white;
    }
  }
}

.chat_sidenav_header__heading {
  display: inline;
  color: white;
  font-size: 1.8rem;
  line-height: 1.9rem;
  font-weight: 900;
  padding: 0.3rem 0;
  margin: 0 0.7rem 0 0;
  vertical-align: middle;
}

.chat_sidenav_header__username {
  color: $slack_sidenav_darkgrey;
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: lighter;

}
