@import '../../globals/_all.scss';

.chat_sidenav {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  width: 22rem;
  background-color: $slack_sidenav_main;
}

.left_icon {
  display: inline;
  box-sizing: border-box;
  line-height: 2.1rem;
  width: 2rem;
  margin: 0 .1rem 0 0;
}

.status_indicator {
  box-sizing: border-box;
  display: inline-block;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
}

.status_indicator--active {
  background-color: $slack_status_active;
}
