@import '../../../globals/_all.scss';

.messages_view__header {
  position: absolute;
  display: block;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  height: 6rem;
  border-bottom: .1rem solid $slack_border_light;
}

.messages_header__channel_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $lato;
  font-weight: 900;
  padding-left: 2.1rem;
  margin-right: 2.1rem;
  color: $slack_heading_color;
  font-size: 1.8rem;
  line-height: 6rem;
  overflow-x: hidden;
}

.opaque_button--fixed_width {
  width: 14.8rem;
}

.demo_auth_container {
  transition: transform 200ms ease;

  &--hide_magic_link {
    transform: translateX(16rem)
  }
}
