@import '../../../globals/_all.scss';

.messages_view__index_container {
  @include scrollable_light_bg;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages_view__index {
  max-height: 100%;
  margin-top: auto;
}

.message {

}

.message__body {
  font-size: 1.5rem;
  line-height: 2rem;
  color: $slack_message_color;
}
