@import '../../../globals/_all.scss';

.messages_view__index_container {
  @include scrollable_light_bg;
  display: block;
  height: 100%;
}

.message {

}

.message__body {
  font-size: 1.5rem;
  color: $slack_message_color;
}
