@import '../../../globals/_all.scss';

.messages_view__header {
  position: absolute;
  display: block;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  height: 6rem;
  border-bottom: .1rem solid $slack_border_light;
}

.messages_header__channel_name {
  display: flex;
  justify-content: space-between;
  font-family: $lato;
  font-weight: 900;
  padding: 0 0 0 2.1rem;
  color: $slack_heading_color;
  font-size: 1.8rem;
  line-height: 6rem;
}
