@import './globals/_all.scss';

html {
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: $open_sans;
}

input {
  border-radius: .4rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}
