@import './globals/_all.scss';

.l-cf::after {
  @include clearfix;
}

.l-float_children_right {
  @include clearfix;
  & > * {
    float: right;
  }
}

.l-form_container {
  padding: 3rem;
  max-width: 70rem;
  width: 100%;
  box-sizing: border-box;
}

.l-middle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-middle-wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76rem;
  max-width: 100%;

  & > .l-middle {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  & > .l-form_container {
    max-width: 100%;
    width: 70rem;
  }
}

.l-margin_left--12 {
  margin-left: 1.2rem;
}

.l-center {
  text-align: center;
}

.l-margin_top--4 {
  margin-top: 0.4rem;
}
