@import './globals/_all.scss';

.l-cf::after {
  @include clearfix;
}

.l-float_children_right {
  @include clearfix;
  & > * {
    float: right;
  }
}

.l-form_container {
  padding: 3rem;
  max-width: 70rem;
  width: 100%;
  box-sizing: border-box;
}

.l-middle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-middle-wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76rem;
  max-width: 100%;

  & > .l-middle {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  & > .l-form_container {
    max-width: 100%;
    width: 70rem;
  }
}

.l-wire_button {
  color: $slack_wirebutton_light;
  font-weight: 550;
  border: .2rem solid $slack_wirebutton_light;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 1rem 1.4rem 1.2rem 1.4rem;
  cursor: pointer;
  margin: 0 0 0 1.2rem;

  &:hover {
    color: $slack_wirebutton_dark;
    border-color: $slack_wirebutton_dark;
  }
}

.l-wire_button--thick {
  font-weight: 900;
  border: .4rem solid;
}

.l-wire_button--white {
  color: white;
  border-color: white;
  box-shadow: 0 0 2px 2px $slack_shadow_solid_color,
    inset 0 0 2px 2px $slack_shadow_solid_color;
  text-shadow:
   -1px -1px 2px $slack_shadow_solid_color,
    1px -1px 2px $slack_shadow_solid_color,
    -1px 1px 2px $slack_shadow_solid_color,
     1px 1px 2px $slack_shadow_solid_color;

  &:hover {
    color: $slack_green;
    border-color: $slack_green;
  }
}
