@import '../../globals/_all.scss';

.logo_name {
  display: inline-block;
  text-decoration: none;
  color: $slack_logo-color;
  font-family: $lato;
  width: 16rem;
  height: 3rem;
  font-size: 3rem;
  font-weight: 900;
  margin: -0.5rem 0 0 0;
}

.logo_name__img {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.logo_name__name {
  display: inline-block;
  vertical-align: baseline;
}
