@import '../../globals/_all.scss';

.logo_name {
  display: inline-block;
  text-decoration: none;
  color: $slack-logo-color;
  font-family: $lato;
  width: 16rem;
  height: 3rem;
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem;
}

.logo_name__img {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.logo_name__name {
  display: inline-block;
  vertical-align: baseline;
}
