.logo_name {
  display: inline-block;
  text-decoration: none;
  color: #2D333A;
  font-family: 'Lato', sans-serif;
  width: 13rem;
  height: 3rem;
  font-size: 2.4rem;
  font-weight: 900;
  margin: 1rem;
}

.logo_name__img {
  height: 100%;
  float: left;
}

.logo_name__name {
  float: left;
}
