<!DOCTYPE html>
<html>
  <head>
    <title>PlaidChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://localhost:35729/livereload.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
